{
  "plugins": ["@trivago/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"],
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^@/lib/(.*)$",
    "^@/src/(.*)$",
    "^@/app/(.*)$",
    "^@/components/(.*)$",
    "^./(.*)$"
  ],
  "endOfLine": "lf",
  "tailwindStylesheet": "app/globals.css",
  "tailwindFunctions": ["cn", "cva"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "trailingComma": "es5",
  "tabWidth": 2,
  "printWidth": 100,
  "semi": true,
  "singleQuote": false
}
